{% extends "base_generic.html" %}

{% block content %}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="card card-login mb-4 col-md-8 col-12 p-4">
          <h3 class="header">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
            {% else %}
            <p>Welcome Back!</p>
            <p>Login here</p>
            {% endif %}
            {% endif %}
          </h3>
          <div class="row justify-content-center">

            <form method="post" action="{% url 'login' %}" class="col-12 justify-content-center">
              {% csrf_token %}
              <div class="form-group text-center">
                <label class="login-label">Username</label>
                {{ form.username }}
              </div>
              <div class="form-group text-center">
                <label class="login-label">Password</label>
                {{ form.password }}
              </div>
              <div class="form-group text-center">
                <input type="submit" value="login" class="btn form-btn" />
                <input type="hidden" name="next" value="" class="col-6" />
              </div>
            </form>

            <div><a href="{% url 'password_reset' %}" class="login-label">Forgot password?</a></div>
            <div>Don't have an account? <a href="{% url 'register' %}" class="login-label">Register Here!</a></div>

          </div>
        </div>
      </div>
    </div>
    {% endblock %}