{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>News</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body style="background-color: #d1c4e9;">
        <div class="jumbotron" style="background-color: rgb(138, 43, 226); border-radius: 0 0 5rem 5rem;">
            <center><h1 style="color: #fff;">Farming News App</h1></center>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                        <h3 class="header">News from Economic Times</h3>
                    {% load index %}
                    {% for i in range %}
                    <div class="row justify-content-center">
                    <div class="card mb-4 col-md-8 col-12 p-4" style="background-color: #9575cd;display: inline-block;">
                        <a href={{ href_list|index:i }} target="_blank" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="card-title">
                            <h5 style="color: #490085;"> - {{ title_list|index:i }} </h5>
                            </div>
                            <div class="card-text">
                                <p style="color: #eee;">{{ summary_list|index:i }}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-4 mb-4 align-middle">
                        <img src={{ image_list|index:i }} class="img-responsive" width="100%"></img>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <footer class="footer" style="background-color: rgb(138, 43, 226); border-radius: 5rem 5rem 0 0; color: #fff;">
            <div class="container">
                <div class="row justify-content-center">
                    <p>All Rights Reserved</p>
                </div>
            </div>
        </footer>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>