{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="header">Saved Articles</h1>
            {% if saved_list %}
            <ul>
                {% for article in saved_list %}
                <div class="row justify-content-center">
                <div class="card mb-4 col-10 col-md-8 p-4">
                    <a href={{article.url}} target="_blank" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="card-title">
                                <h5> - {{article.title}} </h5>
                            </div>
                            <div class="card-text">
                                <p>{{article.summary}}</p>
                            </div>
                        </div>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'changesaved' operation='removefromsaved' pk=article.pk source='saved' %}"><button type="button"
                            class="btn" onclick="redir()">Remove</button></a>
                    {% endif %}
                </div>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <p>No articles saved</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}