{% extends "base_generic.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1>Article List</h1>
            {% if article_list %}
            <ul>
                {% for article in article_list %}
                <div class="card mb-4 col-10 col-md-8 p-4" style="background-color: #9575cd;display: inline-block;">
                    <a href={{article.url}} target="_blank" style="text-decoration: none;">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 style="color: #490085;"> - {{article.title}} </h5>
                            </div>
                            <div class="card-text">
                                <p style="color: #eee;">{{article.summary}}</p>
                            </div>
                        </div>
                    </a>
                    {% if user.is_authenticated %}
                    {% if article in saved_list%}
                    <a href="{% url 'changesaved' operation='removefromsaved' pk=article.pk %}"><button type="button"
                            class="btn btn-danger">Remove</button></a>
                    {% else %}
                    <a href="{% url 'changesaved' operation='addtosaved' pk=article.pk %}"><button type="button"
                            class="btn btn-default">Save</button></a>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <p>No articles saved</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}