{% extends "base_generic.html" %} 
{% block content %}

<div class="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="card card-login mb-4 col-md-8 col-12 p-4">
            <h3 class="header">User Details</h3>
            <div class="row justify-content-center">
              <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="login-label col-md-5">Username</label>
                  <div class="col-md-5">{{ form.username }}</div>
                </div>
                <div class="form-group row">
                  <label class="login-label col-md-5">Email</label>
                  <div class="col-md-5">{{ form.email }}</div>
                </div>
                <div class="form-group text-center">
                  {% if messages %}
                  <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} 
                  {% if form.errors %}
                  <ul>
                    {% for key,value in form.errors.items %} {{ value|escape }}
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <button value = "changedetails" name = "changedetails" type="submit" class = "btn"> Apply Changes </button>
                </div>
              </form>
            </div>
          </div>

          <div class="card card-login mb-4 col-md-8 col-12 p-4">
            <h3 class="header">Configure Sources</h3>
            <div class="row justify-content-center">
              <form method="post">
              {% csrf_token %}
              <div class="form-group row">
                  <label class="login-label col-md-5">Select sources to be excluded</label>
                  <div class="col-md-5">
                    {% for i in sourcesform.sources%}
                      <div class="form-check">
                            {{i}}
                        </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group text-center">
                  <button value = "changesources" name = "changesources" type="submit" class = "btn"> Apply Changes </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
