body{
    min-height: 100vh;
}

.header{
    text-align: center; 
    margin-bottom: 3rem;
    color: blueviolet;
}

.img-responsive{
    border-radius: .5rem;
}


.nav-link{
    color: #fff;
    text-decoration: none;
}

.nav-link:hover{
    color: #fff;
}
.nav-item{
    transition: .5s;
    border-radius: .5rem;
    margin-right: 1rem;
}

.nav-item:hover{
    background-color: #490085;
}

.footer{
    position: fixed;
    top: 0;
}

@media screen and (min-width: 992px){
    .card{
        transition: .5s;
        cursor: pointer;
    }

    .card:hover{
        box-shadow: 0 12px 24px rgb(138, 43, 226);
        transform: translateY(-5px) scale(1.005);
    }

    .card:active{
        box-shadow: 0 2px 4px rgb(138, 43, 226);
        scale: (0.98);
    }
}