{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background-color: #d1c4e9;">
    <div class="jumbotron" style="background-color: rgb(138, 43, 226); border-radius: 0 0 5rem 5rem;">
        <center>
            <h1 style="color: #fff;">Farming News App</h1>
        </center>
    

    {% block nav %}
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">{% block nav-home %}<a href="{% url 'home' %}" class="nav-link">Home</a>{% endblock %}</li>
                <li class="nav-item">{% block nav-about %}<a href="{% url 'about' %}" class="nav-link">About</a>{% endblock %}</li>
                <li class="nav-item">{% block nav-contact %}<a href="{% url 'contact' %}" class="nav-link">Contact</a>{% endblock %}</li>
                {% if user.is_authenticated %}
                <li class="nav-item">User: {{ user.get_username }}</li>
                <li class="nav-item"><a href="{% url 'logout'%}?next={{request.path}}" class="nav-link">Logout</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock %}
    </div>
    {% block content %}

    {% endblock %}

    <footer class="footer" style="background-color: rgb(138, 43, 226); border-radius: 5rem 5rem 0 0; color: #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <p>All Rights Reserved</p>
            </div>
        </div>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>